body {
  margin: 0;
  padding: 0;
}

.sect {
  margin: 50px;
  border: 2px solid red;
  cursor: pointer;

  &:hover {
    border: 2px solid blue;
  }

  .divis {
    padding: 50px;
    color: orange;
    text-align: center;

    &:hover {
      color: red;
    }
  }
}
